<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-05-29T09:11:29Z</date>
	<key>WorkspacePath</key>
	<string>/Users/cha-ji/iCloud Drive(아카이브)/3학년 1학기/알고리즘(정순호)/과제/snowAlgo/4_BranchNBound/01knapsack/01knapsack.xcodeproj</string>
</dict>
</plist>
